 /* form1  */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
  
 body {
    font-family: sans-serif;
    justify-content: center;
    min-height: 100vh;
    background: #0c0116;
    display: flex;
    align-items: center;
 } 
 .form {
    position: relative;
    background: #0c0116;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgb(116, 119, 114);
    border-radius: 5px;
    padding: 60px 15px;
    width: 270px;
    height: 350px;
 }
  
 .form-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0c0116;
    height: 98%;
    width: 98%;
    transform: translate(-50%, -50%);
 }
  
 .content {
    width: 100%;
    padding: 25px;
    height: 100%;
 }
 .form-inner h2 {
    text-align: center;
    padding-top: 35px;
    font-size: 25px;
    color: #d7a3d7;
 }
 .input {
    display: block;
    padding: 12px 15px;
    border: 1.5px solid rgb(109, 87, 121);
    outline: none;
    background: #19052c;
    color: white;
    width: 100%;
    left: 50%;
    border-radius: 10px;
    margin-top: 20px;
 }
 .btn {
    margin-top: 40px;
    width: 100%;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.4s;
    padding: 12px;
    outline: none;
    background: #800080;
 }
 .btn:hover {
    background: #c907c9;
 }
  
 .form span {
    height: 50%;
    width: 50%;
    position: absolute;
 }
  
 .form span:nth-child(1) {
    background: #ffda05;
    animation: 5s span1 infinite linear;
    animation-delay: 1s;
    top: 0;
    left: -48%;
 }
 .form span:nth-child(2) {
    background: #00a800;
    bottom: 0;
    right: -48%;
    animation: 5s span2 infinite linear;
 }
 .form span:nth-child(3) {
    background: #800080;
    top: 0px;
    animation: 5s span3 infinite linear;
    right: -48%;
 }
 .form span:nth-child(4) {
     animation: 5s span4 infinite linear;
    animation-delay: 1s;
    background: #ff0000;
    bottom: 0;
    right: -48%;
 }
  
 @keyframes span1 {
 0% {
  top: -48%;
  left: -48%;
 }
 25% {
  top: -48%;
  left: 98%;
 }
 50% {
  top: 98%;
  left: 98%;
 }
  75% {
   top: 98%;
   left: -48%;
 }
 100% {
   top: -48%;
   left: -48%;
 }
 }
 @keyframes span2 {
 0% {
   bottom: -48%;
   right: -48%;
 }
 25% {
   bottom: -48%;
   right: 98%;
 }
 50% {
   bottom: 98%;
   right: 98%;
 }
 75% {
   bottom: 98%;
   right: -48%;
 }
 100% {
   bottom: -48%;
   right: -48%;
 }
 }
 @keyframes span3 {
 0% {
   top: -48%;
   left: -48%;
 }
 25% {
   top: -48%;
   left: 98%;
 }
 50% {
   top: 98%;
   left: 98%;
 }
 75% {
   top: 98%;
   left: -48%;
 }
 100% {
   top: -48%;
   left: -48%;
 }
 }
  
 @keyframes span4 {
 0% {
   bottom: -48%;
   right: -48%;
 }
 25% {
   bottom: -48%;
   right: 98%;
 }
 50% {
   bottom: 98%;
   right: 98%;
 }
 75% {
   bottom: 98%;
   right: -48%;
 }
 100% {
   bottom: -48%;
   right: -48%;
 }
 }

  /* ===============Form2 =================== */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Image/bgimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: #00000080;
}
.container{
    width: 430px;
    background: transparent;
    color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    border: 2px solid #ffffff33;
    box-shadow: 0 0 10px #0000001a;
    backdrop-filter: blur(20px);
}
.container h1{
    font-size: 34px;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ffffff33;
    outline: none;
    border-radius: 45px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.remember{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember label input{
    accent-color: #fff;
    margin-right: 5px;
}
.remember a{
    color: #fff;
    text-decoration: none;
}
.remember a:hover{
    color: #ededed;
}
.btn{
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px #0000001a;
    cursor: pointer;
}
.register{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.register a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register a:hover{
    color: #ededed;
}